<footer class="site-footer">

  <!-- Bootstrap & Search Support -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
        opacity: 0.95; background-color: #222222; z-index: 9999; display: none;">
      <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="搜索（文章标题、系列名称）..." >

      <div style="position: fixed; top: 16px; right: 16px;">
          <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
      </div>
  </div>

  <div style="position: fixed; right: 20px; bottom: 20px;">
      <img src="/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>
  </div>

  <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

  <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>

  <!-- Back to top button-->
  <div style="position: fixed; right: 20px; bottom: 70px; width: 32px; height: 30px">
    <a href="javascript:scroll(0,0)">
      <img src="/assets/back-to-top.png" id="back-to-top-btn" title="返回顶部"/>
    </a>
  </div>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.weibo.username %}
          <li>
            {% include icon-weibo.html username=site.weibo.username urlid=site.weibo.urlid %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
