<aside class="sidebar">
  <p><i>Tips: 双击 Ctrl 或点击页面右下图标进行站内搜索；Esc 退出搜索。Double press CTRL or click the icon in the bottomright to search within the whole blog website. ESC to exit searching.</i></p>
  <p><i>本站已加入 Google 索引：site: ({{ site.url }}) This site can be accessed via Google search.</i></p>
  
  <h2>【目录ToC】</h2>
  <script src="/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/toc.js"></script>
  <div id="toc"></div>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#toc').toc();
  });
  </script>

  <div>
    <p><i>如果您的设备分辨率过低，或网页窗宽度过小，您可能看不到目录边栏。If your are using a low resolution device or viewing via a narrow webbrowser window, you might not see the sidebar.</i></p>
    <br></br>
  </div>

</aside>