<aside class="sidebar">

  <p><i>Tips: 双击 Ctrl 或点击页面右下图标进行站内搜索；Esc 退出搜索。</i></p>
  <p><i>本站已加入 Google 索引：site: ({{ site.url }})</i></p>
  <script src="/js/jquery-1.7.2.min.js"></script>
  
  <div class="author-info">
    <div style="float: left">
      <img class="gravatar" alt="" src="https://0.gravatar.com/avatar/373c7345b8210faf8e7e5a3a22779ec4?s=192&amp;d=identicon&amp;r=G" >
    </div>
    <div style="float: left; padding-left: 20px; padding-top: 20px;">
      <p style="text-align: right"><h2>wklchris</h2><p>
    </div>

    <table>
      <tr><th>博文</th><th>Categories</th><th>入驻</th></tr>
      <tr><td>{{ site.posts | size }}</td><td>{{ site.categories | size }}</td><td>2017</td></tr>
    </table>  
  </div>

  <h3 id="post-categories">Categories文章</h3>
  <ul class="arc-list">
  {% assign sorted_cat = site.categories | sort %}
  {% for category in sorted_cat %}
      <li><a href="/categories/#{{ category | first }}">{{ category | first }} </a>({{ category | last | size }})</li>
  {% endfor %}  
  </ul>

  <div>
    <p><i>如果您的设备分辨率过低，或网页窗宽度过小，您可能看不到侧边栏。</i></p>
    <br></br>
  </div>
</aside>