---
layout: page
---

<p style="margin-top: 10px"><i>鼠标悬停于标题链接上方，以预览博文摘要。</i></p>

{% assign sorted_cat = site.categories | sort %}

{% for category in sorted_cat %}
<h3 id="{{ category | first }}">{{ category | first }}</h3>
<ul class="arc-list">
    {% for post in category.last %}
        <li>
          {{ post.date | date: '%Y-%m-%d'}} 
          <a href="{{ post.url }}" title="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}">{{ post.title }}</a> 
          {% if post.update %}
              …… <i>更新：{{ post.update }}</i>
          {% endif %}
        </li>
    {% endfor %}
</ul>
{% endfor %}