---
layout: default
---

<div class="home">

  <h1 class="page-heading" style="background-color:#4FAF4F;color:white;">本站的所有内容正在向新站点迁移；迁移完毕后，本站将会暂时关闭。—— wklchris，2020年8月</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        
		{% if post.categories %}
		<p class="post-meta">
      <span class="post-meta">{{ post.date | date: '%Y-%m-%d' }}</span>
      {% for post in category.last %}
        <li>{{ post.date | date: '%Y-%m-%d'}} <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      {% if post.update %}
          [更新: {{ post.update }}]
      {% endif %}
      Categories: {% for category in post.categories %}
        <a href="{{ site.url }}/categories#{{ category }}">{{ category | escape }}</a>; 
      {% endfor %}
		</p>
		{% endif %}

		{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      </li>
    {% endfor %}
  </ul>

  {% include sidebar.html %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
