---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
  <div class="related-post">
  {% for tag in site.tags %}
    <h3 style="font-family: 微软雅黑">相关文章列表</h3>
    <ul class="arc-list">
    {% for post in tag.last %}
        <li>{{ post.date | date: '%Y-%m-%d'}} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <aside>
    <h2>本文目录</h2>
    <script src="/assets/Javascript/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/assets/Javascript/toc.js"></script>
    <div id="toc"></div>
    <script type="text/javascript">
      $(document).ready(function() {
      $('#toc').toc();
    });
    </script>
    <p><a href="javascript:scroll(0,0)">--【 返回顶部 】--</a></p>
  </aside>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
