---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%Y-%m-%d' }}</time>
      {% if page.update %}
          [更新: {{ page.update }}]
      {% endif %}
      {% if page.categories %}
        Categories：{% for category in page.categories %}
                <a href="{{ site.url }}/categories#{{ page.categories }}">{{ category | escape }}</a>; 
                {% if category == "Go" %}
                  <script type="text/javascript" src="go-support/player/js/all.compressed.js"></script>
 +                <!--script type="text/javascript" src="go-support/wgo/wgo.min.js"></script-->
 +	              <!--script type="text/javascript" src="go-support/wgo/wgo.player.min.js"></script-->
 +                <!--script type="text/javascript" src="go-support/wgo/i18n.zh.js"></script-->
 +	              <!--link rel="stylesheet" type="text/css" href="go-support/wgo/wgo.player.css" /-->
                {% endif %}
              {% endfor %}
      {% endif %}
    </p>
  </header>

<div class="related-post">
  {% for eachtag in site.tags %}
    {% if page.tags.first != eachtag.first %}
      {% continue %}
    {% endif %}

    <h3 style="font-family: Microsoft YaHei">{{ eachtag.first }} 系列博文</h3>
    <ul class="arc-list">
    {% for post in eachtag.last %}
        <li>
          {{ post.date | date: '%Y-%m-%d'}}
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.url == page.url %} <<<< 当前 {% endif %}
        </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

  {% include sidebar-toc.html %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <a href="javascript:scroll(0,0)">--【 返回顶部 】--</a>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
